<div class="row-fluid">
  <center>
    <div class="span4">
      <%= image_tag("profile_mosaic.jpg", :size => "200x200")  %> 
    </div>
    <div class="span4">
      <h1>I'm nekova. <%= @time %> </ br>
      years old.</h1>
    </div>
    <div class="span4">
    </div>
  </center>
</div>
