<div class="row-fluid">
  <center>
    <div class="span4">
      <%= link_to image_tag("twitter.png", :mouseover => "tiwtter.gif", :size => "200x200"), "https://twitter.com/nekonikovaaaan",{ :target => "_blank"} %>
    </div>
    <div class="span4">
      <%= link_to image_tag("github.png", :mouseover => "terminal.gif", :size => "200x200"), "https://github.com/nekova" ,{:target => "_blank"} %>
    </div>
    <div class="span4">
      <%= link_to image_tag("hatena_blog.png", :mouseover => "hatena_homu.gif", :size => "200x200"), "http://nekova.hatenablog.com", {:target => "_blank"} %>
    </div>
  </center>
</div>

