<div class="row-fluid">
  <center>
    <div class="span4">
      <%= link_to image_tag("makebooth.png", :mouseover => "makebooth.gif", :size => "200x200"), "http://makebooth.com/booth/nekonikovaaaan" ,{:target => "_blank"} %>
    </div>
    <div class="span4">
      <%= link_to image_tag("instagram.png", :mouseover => "instagram.gif", :size => "200x200"), "http://instagram.com/nekonikovaaaan",{ :target => "_blank"} %>
    </div>
    <div class="span4">
      <%= link_to image_tag("hatena_blog.png", :mouseover => "hatena_homu.gif", :size => "200x200"), "http://nekova.hatenablog.com", {:target => "_blank"} %>
    </div>
  </center>
</div>

